html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 1.6;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #fff;
}

::selection {
    color: #ecf0f1;
    background-color: #3498db;
}

#outer {
  background: linear-gradient(#05080b, #253d55);
}

p {
    font-family: Avenir;
    font-size: 25px;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: color .3s ease-in-out;
    color: #fff;
}

p > a {
    color: #26c281;
}

p > a:hover {
    color: #049372;
}

a:active {
    color: #049372;
}

button:focus,
input:focus {
    outline: none;
}

#outer {
    height: auto;
    position: relative;
    padding-top: 150px;
}

img {
  display: block;
}

#moon {
  z-index: 5;
  margin: 0 auto;
  max-height: 300px;
  width: auto;
}

#mtns, #forest, #foothills {
  margin-top: 100px;
  width: 120%;
  margin-left: -10%;
}

#foothills {
  margin-top: -130px;
}

#forest {
  margin-top: -260px;
}
#info {
  margin-top: -400px;
  padding: 100px 40px;
  background-color: #065845;
}
